<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated studyplan -->
      <package
            uri="https://tdt4250/assignment/studyplan"
            class="studyplan.StudyplanPackage"
            genModel="model/studyplan.genmodel"/>
   </extension>

</plugin>
